@font-face {
  font-family: "Space Mono", monospace;
  src: url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");
}

.navigation {
  font-family: "Space Mono", monospace;
  width: 100%;
  height: 50px;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.navigation h1 {
  animation: 1s ease-out 0s 1 slideInFromLeft, fadeIn ease-out 2s;
  position: absolute;
  text-align: left;
  font-family: "Space Mono", monospace;
  font-size: 30px;
  padding: 0.5rem 25px;
  color: white;
  background-color: transparent;
}

.navigation ul {
  max-width: 60%;
  display: flex;
  flex-wrap: wrap;
  float: right;
  padding: 1rem 25px;
  background-color: transparent;
}

.navigation ul li {
  padding-right: 30px;
  background-color: transparent;
  transition: transform 0.5s ease;
}

.navigation ul li:hover {
  transform: scale(1.3);
}
